* {
  border: 1px solid transparent;
}
.title-box {
  position: relative;
  top: -15px;
  background-color: #474649;
  height: 116px;
}
#title-box-text {
  font-family: Arial, sans-serif;
  text-align: center;
  color: white;
  font-size: 1.8em;
  margin-top: 40px;
}
.content {
  width: 860px;
  margin-left: auto;
  margin-right: auto;
}
.subtitle {
  font-family: Arial, sans-serif;
  font-size: 1.5em; 
}
#sub1 {
  float: left;
  width: 240px;
  /*background-color: blue;*/
}
#sub2 {
  float: left;
  width: 330px;
  text-align: center;
  /*background-color: green;*/
}
#sub3 {
  float: left;
  width: 234px;
  margin-left: 40px;
  /*background-color: red;*/
  }
/*br {
  clear: right;
}*/
.line {
  width: 1px;
  height: 485px;
  background-color: #474649;
}
#line1 {
  float: left;
}
#line2 {
  float: left;
}
.footer {
  height: 50px;
  background-color: gray;
  margin-bottom: -20px;
  clear: both;
  position: relative;
}
#copyright {
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 0.6em;
  margin-top: 19px;
}
#git {
  font-family: Arial, sans-serif;
  float: left;
  width: 240px;
  clear: left;
  font-size: 0.7em;
}
#unorderd-list {
  font-family: Arial, sans-serif;
  float: left;
  width: 295px;
  clear: left;
  font-size: 0.7em;
  text-align: left;
}
img {
  width: 234px;
  height: 180px;
  float: left;
  clear: left;
}
