* {
  border: 1px solid black;
}
.title-box {
  position: relative;
  top: -30px;
  background-color: #474649;
  padding-bottom: 5px;
  height: 92px;
}
#title-box-text {
  font-family: sans-serif;
  text-align: center;
  color:white;
  margin-top: 20px;
  font-weight: 100;
  font-size: 1.8em;
  padding-top: 20px;
  padding-bottom: 20px;
}
.subtitle {
  font-family: sans-serif;
  font-size: 1.5em; 
}
#sub1 {
  float: left;
  width: 240px;
  /*background-color: blue;
  margin-left: 100px;*/
}
#sub2 {
  float: left;
  width: 327px;
  text-align: center;
  /*background-color: green;*/
}
#sub3 {
  float: left;
  width: 235px;
  /*background-color: red;*/
  }
/*br {
  clear: right;
}*/
.line {
  width: 1px;
  height: 490px;
  background-color: #474649;
}
#line1 {
  float: left;
}
#line2 {
  float: left;
}
.footer {
  height: 50px;
  background-color: gray;
  margin-bottom: -20px;
  clear: both;
  position: relative;
}
#copyright {
  color: white;
  font-family: sans-serif;
  text-align: center;
  margin-bottom: -20px;
  padding-top: 17px;
}
#git {
  font-family: sans-serif;
  float: left;
  width: 240px;
  clear: left;
}
#unorderd-list {
  font-family: sans-serif;
  float: left;
  width: 295px;
  clear: left;
}
img {
  width: 234px;
  height: 180px;
  float: left;
  clear: left;
}
